.jumbotron{
    background-color: darkcyan;
    color: white;
    margin-top: 50px;
    border-radius: 0;
    margin-bottom: 0;
}


.card-hotel{
    flex: 1 150px;
    padding: 10px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    left: 0;
    bottom: 0;
}