.jumbotron{
    background-color: darkcyan;
    color: white;
    margin-top: 50px;
    border-radius: 0;
    margin-bottom: 0;
}


.card-hotel{
    flex: 1 200px;
    padding: 0px;
    margin: 10px;
}

.btn-reserva{
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-icon{
    padding-right: 5px;
}