.jumbotron{
    background-color: darkcyan;
    color: white;
    margin-top: 50px;
    border-radius: 0;
    margin-bottom: 0;
}


.card-hotel{
    flex: 1 300px;
    padding: 0px;
    margin: 10px;
}

.btn-card-bottom{
    margin-bottom: 10px;
}

.img-card-hospital{
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-reserva{
    width: 90%;
    left: 0;
    bottom: 0;
}

.footer-icon{
    padding-right: 5px;
}

.tab-content{
    padding-top: 15px;
}