.jumbotron {
  background-color: #c8ece1;
  color: brown;
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 0;
  margin-bottom: 0; }

footer {
  background-color: #c8ece1;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 300px;
  padding: 0px;
  margin: 10px; }

.btn-card-bottom {
  margin-bottom: 10px; }

.img-card-hospital {
  margin-top: 10px;
  margin-bottom: 20px; }

.btn-reserva {
  width: 90%;
  left: 0;
  bottom: 0;
  margin-top: 20px; }

.footer-icon {
  padding-right: 5px; }

.tab-content {
  padding-top: 15px; }
